<div class="logo">
  <h2>Overtime</h2>
</div>
<ul class="custom-nav nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Inicio", root_path, class: "nav-link #{active?(root_path)}"%>
  </li>
  <li class="nav-item">
    <%= link_to "Posts", posts_path, class: "nav-link #{active?(posts_path)}"%>
  </li>
  <li class="nav-item dropdown ml-md-auto">
     <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Perfil</a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
       <%= link_to "Editar Perfil", edit_user_registration_path, class: "dropdown-item" %>
      <div class="dropdown-divider">
      </div>
        <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  </li>
</ul>
